In [1]:
import pandas as pd

In [11]:
# Missing Completely at Random (MCAR)

df = pd.read_csv("Datasets/Class_Grades.csv")
df.head(10)

   Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0       5       57.14     34.09    64.38     51.48  52.50
1       8       95.05    105.49    67.50     99.07  68.33
2       8       83.70     83.17    30.00     63.15  48.89
3       7       81.22     96.06    49.38    105.93  80.56
4       8       91.32     93.64    95.00    107.41  73.89
5       7       95.00     92.58    93.12     97.78  68.06
6       8       95.05    102.99    56.25     99.07  50.00
7       7       72.85     86.85    60.00       NaN  56.11
8       8       84.26     93.10    47.50     18.52  50.83
9       7       90.10     97.55    51.25     88.89  63.61

In [8]:
mask = df.isnull()
mask.head(10)

   Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0   False       False     False    False     False  False
1   False       False     False    False     False  False
2   False       False     False    False     False  False
3   False       False     False    False     False  False
4   False       False     False    False     False  False
5   False       False     False    False     False  False
6   False       False     False    False     False  False
7   False       False     False    False      True  False
8   False       False     False    False     False  False
9   False       False     False    False     False  False

In [9]:
df.dropna().head(10)

    Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0        5       57.14     34.09    64.38     51.48  52.50
1        8       95.05    105.49    67.50     99.07  68.33
2        8       83.70     83.17    30.00     63.15  48.89
3        7       81.22     96.06    49.38    105.93  80.56
4        8       91.32     93.64    95.00    107.41  73.89
5        7       95.00     92.58    93.12     97.78  68.06
6        8       95.05    102.99    56.25     99.07  50.00
8        8       84.26     93.10    47.50     18.52  50.83
9        7       90.10     97.55    51.25     88.89  63.61
10       7       80.44     90.20    75.00     91.48  39.72

In [10]:
# Fill all missing values with 0
df.fillna(0, inplace=True)
df.head(10)

   Prefix  Assignment  Tutorial  Midterm  TakeHome  Final
0       5       57.14     34.09    64.38     51.48  52.50
1       8       95.05    105.49    67.50     99.07  68.33
2       8       83.70     83.17    30.00     63.15  48.89
3       7       81.22     96.06    49.38    105.93  80.56
4       8       91.32     93.64    95.00    107.41  73.89
5       7       95.00     92.58    93.12     97.78  68.06
6       8       95.05    102.99    56.25     99.07  50.00
7       7       72.85     86.85    60.00      0.00  56.11
8       8       84.26     93.10    47.50     18.52  50.83
9       7       90.10     97.55    51.25     88.89  63.61

In [24]:
new_df = pd.read_csv("Datasets/Positions.csv")
new_df.head()

,time,playerName,xPos,yPos,zPos,xCamRot,yCamRot,score,PatchSelection,playerName.1,...,PatchSelection.5,playerName.6,xPos .6,yPos.6,zPos.6,xCamRot.6,yCamRot.6,score.6,PatchSelection.6,Unnamed: 57
0,1,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,...,No Selection,,380.0,2.5,377.5,0,270.0,0,No Selection,
1,2,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,...,No Selection,damselfly,380.0,1.1,377.5,0,270.0,0,No Selection,
2,3,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,...,No Selection,damselfly,380.0,1.1,377.5,0,270.0,0,No Selection,
3,4,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,...,No Selection,damselfly,380.0,1.1,377.5,0,270.0,0,No Selection,
4,5,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,...,No Selection,damselfly,380.0,1.1,377.5,0,270.0,0,No Selection,

In [25]:
new_df.columns

Index(['time', 'playerName', ' xPos ', ' yPos', ' zPos', ' xCamRot',
       ' yCamRot', ' score', ' PatchSelection', 'playerName.1', ' xPos .1',
       ' yPos.1', ' zPos.1', ' xCamRot.1', ' yCamRot.1', ' score.1',
       ' PatchSelection.1', 'playerName.2', ' xPos .2', ' yPos.2', ' zPos.2',
       ' xCamRot.2', ' yCamRot.2', ' score.2', ' PatchSelection.2',
       'playerName.3', ' xPos .3', ' yPos.3', ' zPos.3', ' xCamRot.3',
       ' yCamRot.3', ' score.3', ' PatchSelection.3', 'playerName.4',
       ' xPos .4', ' yPos.4', ' zPos.4', ' xCamRot.4', ' yCamRot.4',
       ' score.4', ' PatchSelection.4', 'playerName.5', ' xPos .5', ' yPos.5',
       ' zPos.5', ' xCamRot.5', ' yCamRot.5', ' score.5', ' PatchSelection.5',
       'playerName.6', ' xPos .6', ' yPos.6', ' zPos.6', ' xCamRot.6',
       ' yCamRot.6', ' score.6', ' PatchSelection.6', 'Unnamed: 57'],
      dtype='object')

In [26]:
new_df = new_df.set_index(["time", "playerName"])

In [27]:
new_df.head(100)

,,xPos,yPos,zPos,xCamRot,yCamRot,score,PatchSelection,playerName.1,xPos .1,yPos.1,...,PatchSelection.5,playerName.6,xPos .6,yPos.6,zPos.6,xCamRot.6,yCamRot.6,score.6,PatchSelection.6,Unnamed: 57
time,playerName,,,,,,,,,,,,,,,,,,,,,
1,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,380.0,1.1,...,No Selection,,380.0,2.5,377.5,0,270.0,0,No Selection,
2,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,380.0,1.1,...,No Selection,damselfly,380.0,1.1,377.5,0,270.0,0,No Selection,
3,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,380.0,1.1,...,No Selection,damselfly,380.0,1.1,377.5,0,270.0,0,No Selection,
4,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,380.0,1.1,...,No Selection,damselfly,380.0,1.1,377.5,0,270.0,0,No Selection,
5,Francisco,385.0,1.1,372.5,0,270.0,0,No Selection,ozmar,380.0,1.1,...,No Selection,damselfly,380.0,1.1,377.5,0,270.0,0,No Selection,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,Francisco,289.2,1.1,496.1,0,279.9,0,No Selection,ozmar,187.3,0.7,...,Desert,damselfly,278.4,1.1,460.7,0,312.4,0,No Selection,
97,Francisco,289.5,1.1,496.0,0,281.5,0,No Selection,ozmar,187.5,0.6,...,Desert,damselfly,269.1,1.1,469.1,0,312.4,0,No Selection,
98,Francisco,298.9,1.1,499.1,0,0.9,0,No Selection,ozmar,187.5,0.6,...,Desert,damselfly,260.6,1.1,476.9,0,312.8,0,No Selection,
99,Francisco,301.0,1.1,510.0,0,359.7,0,No Selection,ozmar,187.5,0.6,...,Desert,damselfly,257.5,1.1,483.8,0,342.4,0,No Selection,
100,Francisco,295.7,1.1,521.4,0,239.9,0,No Selection,ozmar,189.5,0.5,...,Desert,damselfly,254.0,1.1,494.8,0,342.4,0,No Selection,