# Basic statistical testing

In [2]:
import pandas as pd
import numpy as np
from scipy import stats

When we do hypothesis testing, we actually have two statements of interest: the first is our actual explanation, which we call the alternative hypothesis, and the second is the explanation we have is not sufficient, and we call this the null hypothesis.

Our actual testing method is to determine wheter the null hypothesisis true or not. If we find that there is a difference between gruops, then we can reject the null hypothesis and we accept our alternative.

In [6]:
df = pd.read_csv("datasets/grades.csv")
df.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [7]:
print("There are {} rows and {} columns".format(df.shape[0], df.shape[1]))

There are 2315 rows and 13 columns

 Let's segment this population into two pieces, those who finish the first assigment by the end of December 2015, we'll call them early finishers, and thoise who finish it sometime after thaht, we'll call them late finishers.

In [9]:
early_finishers = df[pd.to_datetime(df["assignment1_submission"]) < "2016"]
early_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
5,D09000A0-827B-C0FF-3433-BF8FF286E15B,71.647278,2015-12-28 04:35:32.836000000,64.052550,2016-01-03 21:05:38.392000000,64.752550,2016-01-07 08:55:43.692000000,57.467295,2016-01-11 00:45:28.706000000,57.467295,2016-01-11 00:54:13.579000000,57.467295,2016-01-20 19:54:46.166000000
8,C9D51293-BD58-F113-4167-A7C0BAFCB6E5,66.595568,2015-12-25 02:29:28.415000000,52.916454,2015-12-31 01:42:30.046000000,48.344809,2016-01-05 23:34:02.180000000,47.444809,2016-01-02 07:48:42.517000000,37.955847,2016-01-03 21:27:04.266000000,37.955847,2016-01-19 15:24:31.060000000

In [10]:
late_finishers = df[pd.to_datetime(df["assignment1_submission"]) >= "2016"]
late_finishers.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000

In [12]:
# Everything in the df wich is not in early_finishers
late_finishers_2 = df[~df.index.isin(early_finishers.index)]
late_finishers_2.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000

In [16]:
# The pandas data frame object has a variety of statistical functions associated with it.
# If we call the mean function directly on the data frame, we see that each of the means for the assigments
# are calculated. Let's compare the means for our two populations.

print(early_finishers["assignment1_grade"].mean())
print(late_finishers["assignment1_grade"].mean())

74.94728457024303
74.0450648477065

Ok, these look pretty similar, but, are they the same? What do we mean by similar? This is where the students' t-test comes in. It allows us to form the alternative hypothesis ("These are different") as well as the null hypothesis ("There are the same") and then test that null hypothesis.

When doing hypothesis testing, we have to choose a significance level as a threshold for how much of a chance we're willing to accept. This significance level is typically called alpha. For this example, let's use a threshold of 0.05 for our alpha or 5%. Now this is commonly used number but it0s really quite arbitrary.

The SciPy librarycontains a number of different statistical test and forms a basis for hypothesis testing in Python, and we're going to use the ttest_ind() function which does an independent t-test (meaning the populations are not related to one another). The result of ttest_index() are the t-statistic and a p-value. It's this latter value, the probability, wich is most important to us, as it indicates the chance (between 0 and 1) of our null hypothesis being True.

In [18]:
from scipy.stats import ttest_ind

In [19]:
ttest_ind(early_finishers["assignment1_grade"], late_finishers["assignment1_grade"])

Ttest_indResult(statistic=1.322354085372139, pvalue=0.1861810110171455)

So here we see that the probability is 0.18, and this is above our alpha value of 0.05. This means that we cannot reject the null hypothesis wich tell us that the two populations ar the same, and we don't have enough certainty in our evidance (because it is greater than alpha) to come to a conclusion to the contrary. **This doesn't mean that we have proven the populations are the same.**

In [24]:
# Let's check the other assigment grades

print(ttest_ind(early_finishers["assignment1_grade"], late_finishers["assignment1_grade"]))
print(ttest_ind(early_finishers["assignment2_grade"], late_finishers["assignment2_grade"]))
print(ttest_ind(early_finishers["assignment3_grade"], late_finishers["assignment3_grade"]))
print(ttest_ind(early_finishers["assignment4_grade"], late_finishers["assignment4_grade"]))
print(ttest_ind(early_finishers["assignment5_grade"], late_finishers["assignment5_grade"]))
print(ttest_ind(early_finishers["assignment6_grade"], late_finishers["assignment6_grade"]))

Ttest_indResult(statistic=1.322354085372139, pvalue=0.1861810110171455)
Ttest_indResult(statistic=1.2514717608216366, pvalue=0.2108889627004424)
Ttest_indResult(statistic=1.6133726558705392, pvalue=0.10679998102227865)
Ttest_indResult(statistic=0.049671157386456125, pvalue=0.960388729789337)
Ttest_indResult(statistic=-0.05279315545404755, pvalue=0.9579012739746492)
Ttest_indResult(statistic=-0.11609743352612056, pvalue=0.9075854011989656)

So it looks like in this data we do not have enough evidence to suggest the populations differ with respect to grade. Let's take a look at those p-values for a moment though, because they are saying things that can inform experimental design down the road. For instance, the assignment 3, has a p-value around 0.1. This means if we accepted a level of chance similarity of 11% this would have considered statistically significant. As a research, this would suggest to me that there is something here worth considering following up on. For instance, if we had a small number of participants (we don't) or if there was something unique about this assignment as it relates to our experiment (whatever it was) then there may be followup experiments we could run.

P-values have come under fire recently for being insuficient for telling us enough about the interactions which are happening, and two other techniques, confidence intervalues and bayesian analyses, are being used more regularly. One issue with p-values, is that as you run more tests you are likely to get a value wich is statistically significant just by chance.

**Let's see a simulation of this.**

In [39]:
# First, te's create a data frame of 100 columns, each with 100 numbers.
df1 = pd.DataFrame([np.random.random(100) for x in range(100)])
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.018159,0.475791,0.186078,0.266618,0.273037,0.572751,0.771048,0.582319,0.000828,0.624338,...,0.935636,0.445575,0.119725,0.667052,0.289125,0.324307,0.158155,0.543455,0.085660,0.446172
1,0.893766,0.970690,0.557516,0.055750,0.170309,0.673855,0.440140,0.357529,0.540062,0.149331,...,0.726464,0.521004,0.085324,0.778154,0.407583,0.160267,0.070370,0.262390,0.871659,0.036620
2,0.181718,0.340140,0.176285,0.834380,0.334083,0.698907,0.680509,0.116934,0.573692,0.249129,...,0.489160,0.074656,0.966515,0.604497,0.513909,0.951960,0.926125,0.101685,0.697585,0.933910
3,0.970353,0.119267,0.729034,0.243260,0.118714,0.654636,0.165826,0.917305,0.416264,0.084187,...,0.769366,0.242705,0.135729,0.422889,0.791585,0.130421,0.079519,0.794497,0.636722,0.137640
4,0.212167,0.511087,0.102698,0.079237,0.977152,0.536514,0.790456,0.397624,0.433093,0.801800,...,0.704171,0.374636,0.093644,0.121181,0.630670,0.754143,0.843208,0.734213,0.932012,0.826148

In [40]:
df2 = pd.DataFrame([np.random.random(100) for x in range(100)])
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.978488,0.932777,0.789959,0.722128,0.512478,0.824451,0.274609,0.453584,0.625540,0.739471,...,0.295884,0.341426,0.707064,0.800557,0.716239,0.220603,0.035062,0.589004,0.556748,0.724295
1,0.338982,0.792797,0.178848,0.357386,0.797508,0.190138,0.521163,0.321403,0.929676,0.865065,...,0.113131,0.563419,0.464447,0.611739,0.336318,0.358660,0.627734,0.729451,0.254928,0.852623
2,0.383956,0.311789,0.442929,0.028934,0.123676,0.659906,0.597831,0.638019,0.457743,0.961431,...,0.733532,0.426172,0.153633,0.924042,0.543107,0.187295,0.889676,0.288608,0.657272,0.730401
3,0.735474,0.387719,0.740178,0.964659,0.906935,0.700455,0.844744,0.800301,0.492064,0.054164,...,0.247692,0.716482,0.612509,0.572493,0.085803,0.992776,0.395730,0.471254,0.430605,0.943382
4,0.122564,0.349204,0.939545,0.709039,0.682298,0.213574,0.715274,0.169583,0.656520,0.528869,...,0.669118,0.425974,0.814606,0.445446,0.373292,0.756737,0.091848,0.033839,0.393022,0.702896

Are these two DataFrames the same? Maybe a better question is, for a given row inside of df1, is it the same as the same row inside of df2?

Let's say our critical value is 0.1, or alpha of 10%. And we're going to compare each column in df1 to the same numbered column in df2. And we'll report when the p-value isn't less than 10%, which means that we have sufficient evidence to say that the columns are different.

In [41]:
# Let's write this in a function
def test_columns(alpha=0.1):
    
    # I want to keep track of how many differ
    num_diff = 0
    
    # And now we can just iterate over the columns
    for col in df1.columns:
        
        # We can run out ttest_ind between the two DataFrames
        teststat, pval = ttest_ind(df1[col],df2[col])
        
        # Check the p-value vs alpha
        if pval <= alpha:
            # Print out and increment the num_diff
            print("Col {} is statistically significantly different at alpha={}, pval{}".format(col, alpha, pval))
            num_diff=num_diff+1
    
    # Let's print out some summary stats
    print("Total number different was {}, which is {}%".format(num_diff, float(num_diff)/len(df1.columns)*100 ))

In [42]:
test_columns()

Col 5 is statistically significantly different at alpha=0.1, pval0.07913775838655648
Col 21 is statistically significantly different at alpha=0.1, pval0.04422166242546976
Col 22 is statistically significantly different at alpha=0.1, pval0.04801061165005314
Col 39 is statistically significantly different at alpha=0.1, pval0.051444836965164734
Col 45 is statistically significantly different at alpha=0.1, pval0.030874548138494225
Col 52 is statistically significantly different at alpha=0.1, pval0.08543086518673583
Col 53 is statistically significantly different at alpha=0.1, pval0.07503770797657788
Col 59 is statistically significantly different at alpha=0.1, pval0.06409241456632872
Col 68 is statistically significantly different at alpha=0.1, pval0.045103270794406514
Col 86 is statistically significantly different at alpha=0.1, pval0.04713641771028825
Col 90 is statistically significantly different at alpha=0.1, pval0.08909580036198401
Total number different was 11, which is 11.0%

We see that there are a bunch of columns that are different! in fact, that number looks a lot like the alpha value we chose. So, what's going on - shouldn't all of the columns be the same? Remember that all the ttest does is check id two sets are similar given some level of confidence, in our case, 10%. The more random comparisons you do, the more will just happen to be the same by chance. In this example, we checked 100 columns, so we would expect there to be roughly 10 of them if our alpha was 0.1.

So we can test some other alpha values as well

In [43]:
test_columns(0.05)

Col 21 is statistically significantly different at alpha=0.05, pval0.04422166242546976
Col 22 is statistically significantly different at alpha=0.05, pval0.04801061165005314
Col 45 is statistically significantly different at alpha=0.05, pval0.030874548138494225
Col 68 is statistically significantly different at alpha=0.05, pval0.045103270794406514
Col 86 is statistically significantly different at alpha=0.05, pval0.04713641771028825
Total number different was 5, which is 5.0%

In [44]:
df2 = pd.DataFrame([np.random.chisquare(df=1, size=100) for x in range(100)])

In [45]:
test_columns()

Col 0 is statistically significantly different at alpha=0.1, pval4.9519865980387556e-05
Col 1 is statistically significantly different at alpha=0.1, pval1.6380773606585237e-05
Col 2 is statistically significantly different at alpha=0.1, pval0.000908912072707877
Col 3 is statistically significantly different at alpha=0.1, pval0.007833106474374522
Col 4 is statistically significantly different at alpha=0.1, pval0.00022971901582931589
Col 5 is statistically significantly different at alpha=0.1, pval0.0002860047905702223
Col 6 is statistically significantly different at alpha=0.1, pval0.01091579767168146
Col 7 is statistically significantly different at alpha=0.1, pval0.0003026054127387921
Col 8 is statistically significantly different at alpha=0.1, pval0.00322172702608944
Col 9 is statistically significantly different at alpha=0.1, pval0.000574205414056758
Col 10 is statistically significantly different at alpha=0.1, pval4.669091748864749e-06
Col 11 is statistically significantly different at alpha=0.1, pval3.087812686523924e-05
Col 12 is statistically significantly different at alpha=0.1, pval2.1569416486470155e-05
Col 13 is statistically significantly different at alpha=0.1, pval0.002993527703404763
Col 14 is statistically significantly different at alpha=0.1, pval0.010850176380316746
Col 15 is statistically significantly different at alpha=0.1, pval0.006008010960009043
Col 16 is statistically significantly different at alpha=0.1, pval0.0001420955762993657
Col 17 is statistically significantly different at alpha=0.1, pval0.00572509057676709
Col 18 is statistically significantly different at alpha=0.1, pval0.0054077148847109175
Col 19 is statistically significantly different at alpha=0.1, pval7.656440882815411e-06
Col 20 is statistically significantly different at alpha=0.1, pval0.00348498373129957
Col 21 is statistically significantly different at alpha=0.1, pval0.0006718762811706124
Col 22 is statistically significantly different at alpha=0.1, pval0.0014846483058692094
Col 23 is statistically significantly different at alpha=0.1, pval0.00016615872453132593
Col 24 is statistically significantly different at alpha=0.1, pval0.0029929972374643367
Col 25 is statistically significantly different at alpha=0.1, pval0.001969171218689051
Col 26 is statistically significantly different at alpha=0.1, pval0.003233864235759397
Col 27 is statistically significantly different at alpha=0.1, pval6.220152353429684e-05
Col 28 is statistically significantly different at alpha=0.1, pval0.0015152689048562368
Col 29 is statistically significantly different at alpha=0.1, pval0.0007787323827540754
Col 30 is statistically significantly different at alpha=0.1, pval3.9890477941831e-05
Col 31 is statistically significantly different at alpha=0.1, pval0.048550015678597104
Col 32 is statistically significantly different at alpha=0.1, pval8.238352548540054e-05
Col 33 is statistically significantly different at alpha=0.1, pval0.006687667202573626
Col 34 is statistically significantly different at alpha=0.1, pval0.015235139926416976
Col 35 is statistically significantly different at alpha=0.1, pval0.0010181631479786646
Col 36 is statistically significantly different at alpha=0.1, pval0.0005928070171255592
Col 37 is statistically significantly different at alpha=0.1, pval4.1985826928622035e-06
Col 38 is statistically significantly different at alpha=0.1, pval0.00034487855896561903
Col 39 is statistically significantly different at alpha=0.1, pval9.49295939777437e-05
Col 40 is statistically significantly different at alpha=0.1, pval0.0010575192148689085
Col 41 is statistically significantly different at alpha=0.1, pval0.000287023988903139
Col 42 is statistically significantly different at alpha=0.1, pval0.002362930995035867
Col 43 is statistically significantly different at alpha=0.1, pval0.004796913904019305
Col 44 is statistically significantly different at alpha=0.1, pval0.00026992431677702437
Col 45 is statistically significantly different at alpha=0.1, pval0.00014054905329207427
Col 46 is statistically significantly different at alpha=0.1, pval0.0014846000242082305
Col 47 is statistically significantly different at alpha=0.1, pval0.0005245717032632889
Col 48 is statistically significantly different at alpha=0.1, pval0.002050879569220897
Col 49 is statistically significantly different at alpha=0.1, pval0.0031978121257708715
Col 50 is statistically significantly different at alpha=0.1, pval0.000595642392714152
Col 51 is statistically significantly different at alpha=0.1, pval0.005652588352360801
Col 52 is statistically significantly different at alpha=0.1, pval0.0026105547656789514
Col 53 is statistically significantly different at alpha=0.1, pval3.7039006523077856e-06
Col 54 is statistically significantly different at alpha=0.1, pval8.52488143239314e-05
Col 55 is statistically significantly different at alpha=0.1, pval0.014279845245298298
Col 56 is statistically significantly different at alpha=0.1, pval0.0002588974417388217
Col 57 is statistically significantly different at alpha=0.1, pval0.0037312984009718287
Col 58 is statistically significantly different at alpha=0.1, pval3.6188438716326794e-06
Col 59 is statistically significantly different at alpha=0.1, pval0.00013127425415169705
Col 60 is statistically significantly different at alpha=0.1, pval0.0004921705863018013
Col 61 is statistically significantly different at alpha=0.1, pval0.0009434584873991871
Col 62 is statistically significantly different at alpha=0.1, pval0.00020152003652001407
Col 63 is statistically significantly different at alpha=0.1, pval0.001334483224720513
Col 64 is statistically significantly different at alpha=0.1, pval0.0007550449115269007
Col 65 is statistically significantly different at alpha=0.1, pval0.000162637695143267
Col 66 is statistically significantly different at alpha=0.1, pval0.002300236825630232
Col 67 is statistically significantly different at alpha=0.1, pval0.0014247857943947236
Col 68 is statistically significantly different at alpha=0.1, pval0.000462259897978403
Col 69 is statistically significantly different at alpha=0.1, pval0.0007638374323853433
Col 70 is statistically significantly different at alpha=0.1, pval0.0003542284624697785
Col 71 is statistically significantly different at alpha=0.1, pval0.00042302720215934723
Col 72 is statistically significantly different at alpha=0.1, pval0.002919721606141536
Col 73 is statistically significantly different at alpha=0.1, pval7.9266121858339e-05
Col 74 is statistically significantly different at alpha=0.1, pval6.196080121177853e-05
Col 75 is statistically significantly different at alpha=0.1, pval0.027286243932404267
Col 76 is statistically significantly different at alpha=0.1, pval0.01015982159876711
Col 77 is statistically significantly different at alpha=0.1, pval0.0001491814350051873
Col 78 is statistically significantly different at alpha=0.1, pval4.577948995116377e-05
Col 79 is statistically significantly different at alpha=0.1, pval8.580028968231303e-05
Col 80 is statistically significantly different at alpha=0.1, pval0.0005094799369877548
Col 81 is statistically significantly different at alpha=0.1, pval0.00020043770904947818
Col 82 is statistically significantly different at alpha=0.1, pval5.327860058843022e-05
Col 83 is statistically significantly different at alpha=0.1, pval0.00046035801573823804
Col 84 is statistically significantly different at alpha=0.1, pval0.0001501646244542009
Col 85 is statistically significantly different at alpha=0.1, pval8.01310927300617e-05
Col 86 is statistically significantly different at alpha=0.1, pval0.0004410949414261497
Col 87 is statistically significantly different at alpha=0.1, pval0.0004211379654813766
Col 88 is statistically significantly different at alpha=0.1, pval8.910776590301905e-05
Col 89 is statistically significantly different at alpha=0.1, pval1.39677985187606e-06
Col 90 is statistically significantly different at alpha=0.1, pval0.002281499235193206
Col 91 is statistically significantly different at alpha=0.1, pval0.02332665064646248
Col 92 is statistically significantly different at alpha=0.1, pval0.0002608645414591803
Col 93 is statistically significantly different at alpha=0.1, pval0.06979144431782104
Col 94 is statistically significantly different at alpha=0.1, pval0.0004856191875100194
Col 95 is statistically significantly different at alpha=0.1, pval0.00014450475170702998
Col 96 is statistically significantly different at alpha=0.1, pval0.005744385264799912
Col 97 is statistically significantly different at alpha=0.1, pval0.0004523384490811623
Col 98 is statistically significantly different at alpha=0.1, pval0.001426354535273464
Col 99 is statistically significantly different at alpha=0.1, pval9.384988579533534e-05
Total number different was 100, which is 100.0%